@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fbfbfb;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype"); /* Corrected format and semicolon */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Responsive Queries */
.top-content-padding {
  @apply pt-32;
}
.bottom-content-padding {
  @apply pb-32;
}

/* This provides 20rem px */
.px-content-padding {
  @apply mx-auto max-w-[1280px] px-8 lg:px-20 md:px-20 sm:px-8 xl:px-0;
}

.pl-content-padding {
  @apply w-[1280px];
}

.px-content-padding-mobile {
  @apply px-8;
}

.top-position-footer-banner {
  @apply top-[20rem] xs:top-[30rem] sm:top-[30rem] md:top-[35rem] lg:top-[14rem] xl:top-[15rem] 2xl:top-[20rem];
}
